// Variables
$primary-color: #007bff;
$secondary-color: #f8f9fa;
$text-color: #333;
$footer-bg: #007bff;
$footer-text: #fff;
$hero-bg: #f0eeee;
$quote-color: #9c9c9c;

// General styles
body {
  font-family: 'Open Sans'; // Основний шрифт
  font-size: 16px; // Основний розмір шрифту
  line-height: 1.6; // Висота рядка для зручності читання
  color: $text-color; // Основний колір тексту
  margin: 0;
  padding: 0;

  p {
    color: lighten($text-color, 30%);
  }
  
  
}

/*
section {
  max-width: 1220px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-attachment: fixed;
}
*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: $secondary-color;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);

  .container {
    max-width: 1220px; // Limit the width of the header content
    margin: 0 auto; // Center the container horizontally
    display: flex;
    align-items: center;
    justify-content: space-between; // Space between logo and nav menu
  }

  .logo {
    img {
      max-height: 50px; // Adjust logo size if needed
      margin-top: 12px;
    }
  }

  .burger-menu {
    display: none; // Hide burger menu by default
    flex-direction: column;
    justify-content: center;
    width: 40px; // Width of the burger menu
    height: 35px; // Height of the burger menu
    background: $primary-color;
    margin: 0;
    border-radius: 4px; // Rounded corners
    border: none;
    cursor: pointer;
    z-index: 1100;

    span {
      display: block;
      width: 70%; // Width of the spans
      height: 3px; // Thickness of the burger lines
      background: $secondary-color;
      border-radius: 2px;
      margin: 2px auto; // Reduce the space between spans
      transition: all 0.3s ease;
    }

    &:hover {
      background: darken($primary-color, 10%); // Darken the background on hover
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 1rem;
        text-align: right;
        padding-top: 0.5rem;
        font-size: 0.9rem;

        a {
          text-decoration: none;
          color: lighten($text-color, 20%);

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    button {
      background: $primary-color;
      color: $footer-text;
      border: none;
      font-size: 0.9rem;
      border-radius: 45px;
      cursor: pointer;
      transition: background 0.3s ease;
      width: 130px; // Make the button full width
      height: 35px;

      &:hover {
        background: darken($primary-color, 10%);
      }

      a {
        text-decoration: none;
        color: $footer-text;
      }
    }
  }

  @media (max-width: 1024px) {
    .burger-menu {
      display: flex; // Show burger menu on smaller screens
    }

    .nav-menu {
      display: none; // Hide nav menu by default on smaller screens
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background: $secondary-color;
      width: 100%;
      padding: 0;

      ul {
        flex-direction: column;

        li {
          padding: 0;
          margin: 0.5rem 0;
          text-align: center;
        }
      }

      button {
        margin-bottom: 1rem;
      }

      &.active {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add shadow below the element
      }
    }

    .nav-menu.active {
      display: flex; // Show nav menu when active
    }
  }
}

main {
  margin-top: 60px; // Збільшуємо відступ між хедером і основним контентом
}

.hero {
  text-align: center;
  padding: 3rem 15px; // Збільшено відступи для блоку
  background: $hero-bg;
  color: $text-color;

  .hero-container {
    display: flex;
    align-items: flex-start; // Вирівнювання по верхньому краю
    justify-content: space-between; // Простір між текстом і формою
    max-width: 1220px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2rem; // Відступ між текстом і формою

    @media (max-width: 768px) {
      flex-direction: column; // Вертикальне розташування тексту та форми
      gap: 1rem;
    }

    .hero-text {
      flex: 1 1 50%; // Текст займає 50% ширини
      text-align: center; // Вирівнювання тексту по лівому краю
      
      margin-top: 10rem;
      @media (max-width: 936px) {
        margin-top: 0;
      }

      h1 {
        font-size: 2rem; // Збільшено розмір заголовка
        margin-bottom: 1.5rem;
        margin-top: 0;
        line-height: 1.4;
        @media (max-width: 320px) {
          font-size: 20px;
        }
      }

      p {
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 1.6;
        padding: 0 7rem; // Відступи для абзацу
        @media (max-width: 936px) {
          padding: 0;
        }
        @media (max-width: 320px) {
          font-size: 16px;
          padding: 0;
        }
        @media (max-width: 530px) {
          font-size: 16px;
          padding: 0;
        }
      }
    }

    .hero-form {
      flex: 1 1 50%; // Форма займає 50% ширини
      display: flex;
      flex-direction: column;
      gap: 1rem; // Відступ між елементами форми
      max-width: 500px; // Обмеження ширини форми

      @media (max-width: 1200px) {
        margin: auto;
        
      }


      .input-placeholder {
        height: 10px;
        width: height;
        margin-left: 5px;
      }

      

      h2 {
        text-align: left; // Вирівнювання заголовка форми по лівому краю
        font-size: 1.5rem;
        margin: 0;
        @media (max-width: 320px) {
          font-size: 19px;
        }
      }

      .input-wrapper {
        position: flex;
        margin-bottom: 0;
        @media (max-width: 1300px) {
          padding-right: 2rem;
        }

        

        input {
          width: 100%;
          padding: 0.8rem;
          border: 1px solid lighten($text-color, 40%);
          border-radius: 5px;
          font-size: 1rem;

          &::placeholder {
            color: lighten($text-color, 30%);
          }
        }
      }

      p {
        text-align: left;
        font-size: 0.9rem;
        margin: 0;
        color: $text-color;

        label {
          display: flex;
          align-items: center;
          gap: 0.5rem; // Відступ між чекбоксом і текстом
        
          input {
            font-size: 16px;
          }

          a {
            color: $primary-color;
            text-decoration: none;
  
            &:hover {
              color: darken($primary-color, 10%);
            }
          }
        
          @media (max-width: 410px) {
            flex-wrap: wrap; // Дозволяє переносити текст на новий рядок
          }
        }

        
      }

      button {
        background: $primary-color;
        color: $footer-text;
        border: none;
        padding: 0.8rem;
        font-size: 1rem;
        border-radius: 45px;
        cursor: pointer;
        transition: background 0.3s ease;
        width: 100%; // Кнопка займає всю ширину
        margin: 0 auto;

        &:hover {
          background: darken($primary-color, 10%);
        }
      }
    }
  }
}

.course {
  margin: 2rem 0;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: $text-color;
  }

  .swiper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; // Ensure proper positioning for pagination

    .swiper-slide {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0; // Add padding to the slides

      @media (max-width: 768px) {
        flex-direction: column; // Вертикальне розташування для слайдів
        text-align: center;
      }

      img {
        max-width: 100px; // Set a maximum width for images
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        margin-top: 0;
        position: relative;
        max-width: 250px;

        &::after {
          content: '';
          display: block;
          width: 85%; // Adjust the width of the line
          height: 2px; // Thickness of the line
          background-color: $primary-color; // Line color
          margin: 0.5rem auto 1rem; // Center the line and add spacing
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 2rem; // Add spacing below the text
      }
    }

    .swiper-pagination {
      position: relative; // Ensure it stays below the content
      margin-top: 0; // Add spacing between the Swiper content and pagination
      z-index: 10; // Ensure it appears above other elements

      .swiper-pagination-bullet {
        background: $quote-color; // Change bullet color
        width: 10px; // Adjust bullet size
        height: 10px; // Adjust bullet size
      }
    }
  }
}

.stats {

  justify-content: space-around;
  color: $footer-text;
  background: $primary-color;
  background-size: auto;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  
  .stats-conteiner {
    width: 1220px;
    max-width: 1220px;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    margin: 2rem 2rem;

    @media (max-width: 768px) {
      display: grid; // Сітка для статистики
      grid-template-columns: repeat(2, 1fr); // 2 колонки
      gap: 1rem;
    }
  }

  img {
    width: 120px; // Set a maximum width for the images
    height: 80px; // Maintain aspect ratio
    margin-bottom: 0; // Add spacing below the image
    margin-top: 10px;
  }

  .stat {
    text-align: center;
    flex: 1 1 calc(25% - 1rem); // Each item takes up 25% of the row

    h3 {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 0;
    }

    p {
      font-size: 1rem;
      margin-top: 0;
      color: $footer-text;
      @media (max-width: 396px) {
        font-size: 0.8rem; // Зменшення розміру тексту для мобільних
        line-height: 1.4;
      }
    }
  }

  @media (max-width: 768px) {
    .stats-conteiner {
      display: grid; // Use grid layout for smaller screens
      grid-template-columns: repeat(2, 1fr); // Create a 2x2 grid
      gap: 1rem; // Add spacing between grid items
    }

    .stat {
      margin: 0; // Remove margin for grid items
    }
  }

}

.testimonials {
  margin: 2rem 0;

  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: $text-color;
    margin: 15px 15px;
  }

  p {
    text-align: center;
    margin-bottom: 8rem;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .swiper {
    width: 100%;
    max-width: 800px; // Limit the width for better readability
    margin: 0 auto;

    

    .swiper-slide {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-radius: 8px;

      blockquote {
        position: relative;
        font-style: italic;
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1rem;
        color: $text-color;

        p {
          margin: 0;
          padding: 0 1rem; // Add padding for better readability
          text-align: center;
        }

        i {
          font-size: 2rem;
          color: $primary-color;
        }

        .fa-quote-left {
          position: absolute;
          top: -5px;
          left: -40px;
          margin-left: 20px;
          color: $quote-color;
        }

        .fa-quote-right {
          position: absolute;
          bottom: 0;
          right: -40px;
          margin-right: 20px;
          color: $quote-color;
        }
      }

      cite {
        font-size: 1rem;
        font-weight: bold;
        color: $text-color;
        display: block;
        margin-top: 1rem;
      }
    }

    .swiper-pagination {

      .swiper-pagination-bullet {
        background: $quote-color; // Change bullet color
        width: 10px; // Adjust bullet size
        height: 10px; // Adjust bullet size
      }
    }
  }

  @media (max-width: 768px) {
    .swiper-slide {
      padding: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    h2 {
      font-size: 1.5rem;
    }

    .swiper-slide {
      padding: 1rem;
    }
  }

  @media (max-width: 1220px) {
    
    

  }
}

.video {
  text-align: center;
  padding: 3rem 15px;
  background-color: $hero-bg;

  .video-container {
    max-width: 1220px;
    margin: auto auto;
  }

  iframe {
    width: 75%;
    height: auto;
    aspect-ratio: 560 / 315; // Maintain the 560:315 aspect ratio
    @media (max-width: 810px) {
      width: 100%; // Make the video responsive on smaller screens
    }
  }
}

.mentors {
  margin: 2rem 0;

  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: $text-color;
  }

  .swiper {
    max-width: 1220px; // Limit the width for better readability
    margin: auto auto;

    
  }

  .swiper-slide {
    display: flex;
    flex-direction: column; // Default layout for smaller screens
    align-items: center;
    text-align: center;
    gap: 1rem; // Add spacing between photo and info
    padding: 0;

    .mentor-photo {
      padding-left: 7rem;
      padding-bottom: 2rem;
      @media (max-width: 1024px) {
        padding-left: 0;
        padding-bottom: 0;
      }

      img {  
        width: 300px; // Set a maximum width for the photo
        height: auto;
        @media (max-width: 500px) {
          width: 175px; // Make the image responsive on smaller screens
          height: auto; // Maintain aspect ratio
        }
      }
    }

    .mentor-info {
      margin-left: 3rem;
      @media (max-width: 1024px) {
        margin-left: 0;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        margin-top: 0;
        color: $primary-color;
      }

      p {
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.5;
        padding-right: 15px;

        @media (max-width: 1024px) {
          padding-left: 15px;
        }
      }
    }
  }

  .swiper-pagination {
    position: relative; // Ensure it stays below the content
    margin-top: 0; // Add spacing between the Swiper content and pagination
    z-index: 10;

    .swiper-pagination-bullet {
      background: $quote-color; // Change bullet color
      width: 10px; // Adjust bullet size
      height: 10px; // Adjust bullet size
    }
  }

  @media (min-width: 1024px) {
    .swiper-slide {
      flex-direction: row; // Change layout to row for larger screens
      align-items: flex-start; // Align items to the top
      text-align: left; // Align text to the left

      .mentor-photo {
        margin-right: 2rem; // Add spacing between photo and info
        margin-left: 15px;
      }
    }
  }
}

.map{

  iframe{
    
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 10px; // Add rounded corners to the map
    margin-bottom: -1rem;
  }
}

.prefooter {
  background: $footer-bg; // Background color for the prefooter
  padding: 2rem 0;

  .prefooter-container {
    max-width: 1220px;
    margin: 2rem auto; // Center the container horizontally
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; // Allow wrapping on smaller screens
    gap: 2rem; // Add spacing between items

    @media (max-width: 768px) {
      margin: 2rem 15px;
    }
  }

  .prefooter-item {
    text-align: center;
    flex: 1 1 calc(25% - 2rem); // Four items per row with spacing
    max-width: 300px;

    a {
      text-decoration: none; // Remove underline from links
      color: $text-color; // Default text color
      transition: color 0.3s ease; // Smooth transition for text color
    }

    img {
      max-width: 80px;
      height: auto;
      margin-bottom: 1rem;
      transition: transform 0.3s ease, filter 0.3s ease; // Smooth transition for hover effects

      &:hover {
        transform: scale(1.1); // Slightly enlarge the logo on hover
        filter: brightness(1.2); // Brighten the logo on hover
      }
    }

    h3 {
      font-size: 16px;
      color: $secondary-color;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: $secondary-color;
      max-width: 195px;
      margin: 0 auto; // Center the paragraph
      transition: color 0.3s ease; // Smooth transition for text color

      @media (max-width: 320px) {
        font-size: 0.9rem; // Adjust font size for smaller screens
        text-transform: none; // Remove text transformation
      }

      a {
        color: $secondary-color; // Default link color
        transition: color 0.3s ease; // Smooth transition for link color

        &:hover {
          color: darken($secondary-color, 10%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    .prefooter-container {
      display: grid; // Use grid layout for smaller screens
      grid-template-columns: repeat(2, 1fr); // Create a 2x2 grid
      gap: 1.5rem; // Add spacing between grid items
    }

    .prefooter-item {
      margin: 0; // Remove margin for grid items
    }
  }
}

footer {
  background: $secondary-color;
  color: $footer-text;
  text-align: center;
  padding: 2rem 1rem;

  .copy {
      
    color: $footer-bg;
    text-decoration: none;
    font-weight: 100;

    &:hover {
      color: darken($footer-bg, 10%);
    }
  }

  .copy_1 {
    color: lighten($text-color, 20%);
    text-decoration: none;

    &:hover {
      color: darken($footer-bg, 10%);
    }
  }


  a {
    
    font-size: 0.9rem;
  }

  .contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; // Allow wrapping for smaller screens
    margin-bottom: 1rem;

    div {
      text-align: center;
      flex: 1 1 calc(25% - 1rem); // Adjust width for responsiveness
      max-width: 200px;

      i {
        font-size: 2rem;
        display: block;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        color: $text-color;
      }
    }
  }

  p {
    font-size: 0.8rem;
    color: $text-color;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @media (max-width: 1220px) {
    padding: 0 15px; // Відступи для контейнера
  }
}



